<div id="resume">
  <h1>Casey Cumbow</h1>

<div class="contact">
  <ul>
    <a href="mailto:cumbow8@gmail.com">cumbow8@gmail.com</a> | 
    <a href="http://github.com/case-eee">Github</a> | 
    <a href="http://linkedin.com/in/caseycumbow">LinkedIn</a> | <a href="/blog">Blog</a> | <a href="http://twitter.com/case_eee">Twitter</a>
  </ul>
</div>
<div class="pure-g">
  <div class="pure-u-2-3">
  <h2>Summary</h2>

  <p>Web developer with a background in mathematics and psychology. I am seeking a career at a socially driven tech company with a culture focused on lifelong learning. I'm driven to use technology to make the world a better place.</p>

  <h2>Skills</h2>

  <p>Ruby on Rails, Angular.js, Object Oriented Design, HTML5 &amp; CSS3, JavaScript (AJAX, jQuery), Test Driven Development (RSpec, Capybara), Git, Heroku, PostgreSQL, Agile Development.</p>

  <h2>Projects</h2>

  <h3><a href="http://key2code.herokuapp.com">Key 2 Code</a> | <a href="https://github.com/case-eee/typing-trainer">GitHub</a></h3>

  <p>A typing trainer for novice programmers built with Angular.js and Ruby on Rails in 8 days. This application allows users to progressively practice specific keystrokes that programmers find most challenging. Users can also view their results on a D3 chart.</p>

  <h3><a href="http://counselingiscaring.herokuapp.com">Counseling is Caring</a> | <a href="https://github.com/case-eee/counseling-is-caring">GitHub</a></h3>

  <p>This web application connects Dev Bootcamp students with the Live Oak counseling team. Prior to this web application, students were required to sign up for counseling sessions using a Google Doc. This app allows counselors to create, update, and delete sessions in real time and students to signup and record notes on their counseling sessions.</p>

<!--   <h3><a href="http://mileyipsum.co">MileyIpsum</a> <a href="https://github.com/tonyta/mileyipsum"><img src="/images/GitHub-Mark-Light-32px.png" alt="GitHub-Mark"></a></h3>

  <p>Generating new Miley Cyrus lyrics from old ones using Markov chains on word-to-word relationships.</p> -->

  <h2>Experience</h2>

  <h3>Web Development Student - February 2014 to April 2014</h3>

  <h4>Dev Bootcamp, Chicago, IL</h4>

  <p>Completed 9-week intensive web development program. Gained hands-on experience in full-stack web development and a first-hand understanding of version control, TDD, iterative development, and user-centered design.</p>

  <p>Most importantly, I gained a deep appreciation for the non-technical qualities of a great developer: empathy, integrity, humility, the ability of expose one&#39;s own ignorance, and mentorship.</p>

  <h3>Quality Manager - May 2012 to January 2014</h3>

  <h4>Anresco Laboratories, San Francisco, CA</h4>

  <p>Directed and oversaw quality operations for over 20 staff analysts for food and environmental testing. Ensured compliance to quality standards and FDA regulations through document development, employee training, and internal audits.</p>

  <h3>Analytical Chemist - December 2008 to May 2012</h3>

  <h4>Anresco Laboratories, San Francisco, CA</h4>

  <p>Developed and conducted analyses of food for nutritional information and chemical contamination.</p>

  <h3>English Teacher - August 2007 to July 2008</h3>

  <h4>International Language Academy, Vietnam</h4>

  <p>Taught English through a fully immersive curriculum to children and adults.</p>

  <h3>General Manager - June 2006 to June 2007</h3>

  <h4>LAVA Restaurant Group, Charlotte, NC</h4>

  <p>Managed operations and a staff of 20 for a high-volume, fast-casual 80-seat restaurant.</p>

  <h2>Education</h2>

  <h3>Biochemistry, B.S. - 2006</h3>

  <h4>Lehigh University, Bethlehem, PA</h4>

    </div>

