<div id="resume">

<div class="pure-g">
  <div class="pure-u-2-3">
  <h2>Summary</h2>

  <p>Web developer with a background in mathematics and psychology. I am seeking a career at a socially driven tech company with a culture focused on lifelong learning. I'm driven to use technology to make the world a better place.</p>

  <h2>Skills</h2>

  <p>Ruby on Rails, Angular.js, Object Oriented Design, HTML5 &amp; CSS3, JavaScript (AJAX, jQuery), Test Driven Development (RSpec, Capybara), Git, Heroku, PostgreSQL, Agile Development.</p>

  <h2>Projects</h2>

  <h3><a href="http://key2code.herokuapp.com">Key 2 Code</a> | <a href="https://github.com/case-eee/typing-trainer">GitHub</a></h3>

  <p>A typing trainer for novice programmers built with Angular.js and Ruby on Rails in 8 days. This application allows users to progressively practice specific keystrokes that programmers find most challenging. Users can also view their results on a D3 chart.</p>

  <h3><a href="http://counselingiscaring.herokuapp.com">Counseling is Caring</a> | <a href="https://github.com/case-eee/counseling-is-caring">GitHub</a></h3>

  <p>This web application connects Dev Bootcamp students with the Live Oak counseling team. Prior to this web application, students were required to sign up for counseling sessions using a Google Doc. This app allows counselors to create, update, and delete sessions in real time and students to signup and record notes on their counseling sessions.</p>

  <h2>Experience</h2>

  <h3>Web Development Student - April 2014 to June 2014</h3>

  <h4>Dev Bootcamp, Chicago, IL</h4>

  <p>Completed 9-week intensive web development program. Gained hands-on experience in full-stack web development and a first-hand understanding of version control, TDD, iterative development, and user-centered design.<br>

  Most importantly, I gained a deep appreciation for the non-technical qualities of a great developer: empathy, integrity, humility, the ability of expose one&#39;s own ignorance, and mentorship.</p>

  <h3>Associate Compliance Analyst - August 2013 to December 2013</h3>

  <h4>Deloitte LLP, Stamford, CT</h4>

  <p>Performed quality assurance with Microsoft Access &amp; Excel, and the Bloomberg Terminal. Assisted Deloitte employees with maintaining SEC independent from all audit clients.</p>

  <h3>Mathematics Instructor -  May 2011 to June 2013</h3>

  <h4>Teach for America, Hartsville, SC</h4>

  <p>Improved student’s passing rate from 55% to 91% on the annual state standardized test. Led students to highest achievement improvement in entire school of 1200 students. Guided 52 students to successfully advance from standard math classes to Honors Math.</p>

  <h3>Psychology Research Assistant - January 2010 to June 2011</h3>

  <h4>Judgment &amp; Descision Making Lab - Ohio State University, Columbus, OH</h4>

  <p>Participated in the design and execution of high level decision-making research. Analyzed data using SPSS and other statistical tools.</p>

  <h2>Education</h2>

  <h3>Actuarial Science &amp; Psychology, B.S. - 2011</h3>

  <h4>Ohio State University, Columbus, OH</h4>

  <h3>Spanish - Summer 2010</h3>

  <h4>Universidad de Salamanca, Salamanca, Spain</h4>

    </div>
