<div class="blog">
  <div class="header">
    <h2>Adventures of Casey<h2>
    <h4>Coder/Snowboarder/Wanderer</h4>
  </div>

  <h3>Life Post-DBC</h3>
  <h4>Monday, July 7, 2014</h4>
  <p> Life after graduating from Dev Bootcamp (a 9 week intensive web developer program) has been definitely been interesting. From fellow cohort mates heading back to their hometowns and the time-consuming process of job searching, I've continued to be extremely busy. Some of my very best friends headed home last week, which was emotional. These were people who I learned so many things from (coding, cooking, sports, etc.). I know that they will be in my life forever, but reality setting in was rough. 
    <br><br>
  Since they've left, I've started working on a few projects (in addition to my job search). Dev Bootcamp has a counselor from Like Oak Chicago here at the space twice a week. They offer free counseling sessions; however, the process to sign up for these sessions is horrendous. It's nothing more than a Google Doc, where everyone has the ability to add their initials to a time slot. 
    <br><br>

  A friend and I are working to finish our previously started web application to make this process more streamlined. We are basically re-creating our database struture, cleaning up our code, and adding a few more features. We even spoke with our the Live Oak Counselor to grab her input to help us make the process smoother for her as well. It's extremely exciting to create something that Dev Bootcamp is going to implement and that will make life easier for students. 

  <br><br>

  There are a few other projects I'm starting with another fellow Dev Bootcamp graduate, so I need to get to work! Adios!
  </p>

</div>