<div class="nav-bar pure-menu pure-menu-open pure-menu-horizontal">
  <ul>
    <a href="/">About Me
    <a href="/resume">Resume
    <a href="/blog">Blog
    <a href="http://caseeee.imgur.com/">Photos</a>
  </ul>
</div>

<div class="pure-g">
  <div class="pure-u-2-3">
    <h1>Welcome!</h1>
    <p>My name is Casey. I'm a former middle school math teacher turned web developer. I love to learn. I love to solve problems. I love to make the world a better place. I know Ruby, Sinatra &amp; Rails, and some front-end HTML/CSS/JavaScript/jQuery.</p>
    <div class="contact">
      <ul>
        <a href="mailto:cumbow8@gmail.com"><%= image_tag("email29.png") %></a>
        <a href="http://github.com/case-eee"><%= image_tag("github4.png") %></a>    
        <a href="https://www.linkedin.com/profile/view?id=116336370&amp;trk=nav_responsive_tab_profile"><%= image_tag("linked5.png") %></a>
        <a href="http://twitter.com/case_eee"><%= image_tag("social19.png") %></a>
      </ul>
    </div>
  </div>
</div>